apiVersion: v1
kind: Namespace
metadata:
  name: commerce
   
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: products-api
  namespace: commerce
data:
  MONGODB__COLLECTIONNAME: products
  MONGODB__DATABASENAME: products
  MONGODB__ConnectionString: mongodb://mongo.mongo.svc:27017 
  CATALOGAPI__BASEURL: http://catalog-api
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: catalog-api-v1
  namespace: commerce
data:
  CATALOG__VERSION: 'v1'
  MONGODB__COLLECTIONNAME: catalog
  MONGODB__DATABASENAME: catalog
  MONGODB__ConnectionString: mongodb://mongo.mongo.svc:27017
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: catalog-api-v2
  namespace: commerce
data:
  CATALOG__VERSION: 'v2' 
  MONGODB__COLLECTIONNAME: catalog
  MONGODB__DATABASENAME: catalog
  MONGODB__ConnectionString: mongodb://mongo.mongo.svc:27017
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: catalog-api-v3
  namespace: commerce
data:
  CATALOG__VERSION: ''
  MONGODB__COLLECTIONNAME: catalog
  MONGODB__DATABASENAME: catalog
  MONGODB__ConnectionString: mongodb://mongo.mongo.svc:27017
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: pricing-api
  namespace: commerce

data:
  MONGODB__COLLECTIONNAME: pricing
  MONGODB__DATABASENAME: pricing
  MONGODB__ConnectionString: mongodb://mongo.mongo.svc:27017
  CATALOGAPI__BASEURL: http://catalog-api

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: productsapi
  namespace: commerce
  labels:
    app: productsapi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: productsapi
  template:
    metadata:
      labels:
        app: productsapi
    spec:
      containers:
      - name: products-api
        image: patrickreinan/commerce-productsapi:latest
        imagePullPolicy: Never
        envFrom:
        - configMapRef:
            name: products-api
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "64Mi"
            cpu: "125m"
          limits:
            memory: "128Mi"
            cpu: "150m"
          
---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: commerce
  name: catalogapi-v1
  labels:
    app: catalogapi-v1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: catalogapi
  template:
    metadata:
      labels:
        app: catalogapi
        version: v1
    spec:
      containers:
      - name: catalogapi-api
        image: patrickreinan/commerce-catalogapi:latest
        imagePullPolicy: Never
        envFrom:
        - configMapRef:
            name: catalog-api-v1
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "64Mi"
            cpu: "125m"
          limits:
            memory: "128Mi"
            cpu: "150m"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: commerce
  name: catalogapi-v2
  labels:
    app: catalogapi-v2
spec:
  replicas: 0
  selector:
    matchLabels:
      app: catalogapi
  template:
    metadata:
      labels:
        app: catalogapi
        version: v2        
    spec:
      containers:
      - name: catalogapi-api
        image: patrickreinan/commerce-catalogapi:latest
        imagePullPolicy: Never
        envFrom:
        - configMapRef:
            name: catalog-api-v2
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "64Mi"
            cpu: "125m"
          limits:
            memory: "128Mi"
            cpu: "150m"

---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: commerce
  name: catalogapi-v3
  labels:
    app: catalogapi-v3
spec:
  replicas: 0
  selector:
    matchLabels:
      app: catalogapi
  template:
    metadata:
      labels:
        app: catalogapi
        version: v3
    spec:
      containers:
      - name: catalogapi-api
        image: patrickreinan/commerce-catalogapi:latest
        imagePullPolicy: Never
        envFrom:
        - configMapRef:
            name: catalog-api-v3
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "64Mi"
            cpu: "125m"
          limits:
            memory: "128Mi"
            cpu: "150m"

---

apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: commerce
  name: pricingapi
  labels:
    app: pricingapi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pricingapi
  template:
    metadata:
      labels:
        app: pricingapi
    spec:
      containers:
      - name: pricing-api
        image: patrickreinan/commerce-pricingapi:latest
        imagePullPolicy: Never
        envFrom:
        - configMapRef:
            name: pricing-api
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "64Mi"
            cpu: "125m"
          limits:
            memory: "128Mi"
            cpu: "150m"
---
apiVersion: v1
kind: Service
metadata:
  name: products-api
  namespace: commerce
    
spec:
  selector:
    app: productsapi
  ports:
    - protocol: TCP
      port: 80
---
apiVersion: v1
kind: Service
metadata:
  name: pricing-api
  namespace: commerce
    
spec:
  selector:
    app: pricingapi
  ports:
    - protocol: TCP
      port: 80
---
apiVersion: v1
kind: Service
metadata:
  name: catalog-api
  namespace: commerce
    
spec:
  selector:
    app: catalogapi
  ports:
    - protocol: TCP
      port: 80
