apiVersion: kuma.io/v1alpha1
kind: TrafficRoute
mesh: default
metadata: 
  name: route-to-catalog
spec: 
  sources: 
    - match: 
        kuma.io/service: 'pricing-api_commerce_svc_80'
    - match: 
        kuma.io/service: 'products-api_commerce_svc_80'
    - match:
        kuma.io/service: 'kong-proxy_kong_svc_80'
  destinations: 
    - match: 
        kuma.io/service: 'catalog-api_commerce_svc_80'
  conf: 
    destination:
      kuma.io/service: 'catalog-api_commerce_svc_80'
 

---
apiVersion: kuma.io/v1alpha1
kind: TrafficRoute
mesh: default
metadata: 
  name: route-to-pricing
spec: 
  sources: 
   - match:
        kuma.io/service: 'kong-proxy_kong_svc_80'
  destinations: 
    - match: 
        kuma.io/service: 'pricing-api_commerce_svc_80'
  conf: 
    destination:
      kuma.io/service: 'pricing-api_commerce_svc_80'
---
apiVersion: kuma.io/v1alpha1
kind: TrafficRoute
mesh: default
metadata: 
  name: route-default-products
spec: 
  sources: 
    - match:
        kuma.io/service: 'kong-proxy_kong_svc_80'  
  destinations: 
    - match: 
        kuma.io/service: 'products-api_commerce_svc_80'
  conf:  
    destination:
      kuma.io/service: 'products-api_commerce_svc_80'
