apiVersion: v1
kind: Namespace
metadata:
  name: logstash
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: logstash
  namespace: logstash
spec:
  replicas: 1
  selector:
    matchLabels:
      app: logstash
  template:
    metadata:
      labels:
        app: logstash
    spec:
      containers:
      - name: logstash
        image: logstash:7.17.6
        ports:
        - containerPort: 5044
        volumeMounts:
          - name: config-volume
            mountPath: /usr/share/logstash/config
          - name: logstash-pipeline-volume
            mountPath: /usr/share/logstash/pipeline
        resources:
            limits:
              memory: "1Gi"
              cpu: "1000m"
            requests: 
              memory: "512Mi"
              cpu: "200m"
      volumes:
      - name: config-volume
        configMap:
          name: logstash-configmap
          items:
            - key: logstash.yml
              path: logstash.yml
      - name: logstash-pipeline-volume
        configMap:
          name: logstash-configmap
          items:
            - key: kong.conf
              path: kong.conf
            - key: kuma.conf
              path: kuma.conf
---
kind: Service
apiVersion: v1
metadata:
  name: logstash
  namespace: logstash
spec:
  selector:
    app: logstash
  ports:
  - protocol: TCP
    port: 5044
    targetPort: 5044
  - protocol: TCP
    port: 5044
    targetPort: 5044
  type: ClusterIP
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: logstash-configmap
  namespace: logstash
data:
  logstash.yml: |
    http.host: "0.0.0.0"
    path.config: /usr/share/logstash/pipeline    
  kong.conf: |
    input {
      tcp {
        port => 5044
        codec => json
      }
    } 
    
    output {
      elasticsearch {
        ilm_enabled => false
        hosts => ["http://elasticsearch.elasticsearch.svc:9200"]
        index => "kong-logs"
      }

      stdout {}
    }  
  kuma.conf: |
    input {
      tcp {
        port => 5045
        codec => plain
      }
    } 
    
    output {
      elasticsearch {
        ilm_enabled => false
        hosts => ["http://elasticsearch.elasticsearch.svc:9200"]
        index => "kuma-logs"
      }

      stdout {}
    }   